.contacts{
    background-color: #fff;
    padding: 100px 0;
}
.contact{
    background-color: #F6F6F6;
    display: flex;
    border-radius: 20px;
    padding: 50px;
    align-items: center;
    justify-content: space-between;
    gap: 90px;
    .contact__text{
        width: calc(50% - 45px);
        display: flex;
        flex-direction: column;
        gap: 50px;
        .contact__title{
            color: #000;
            font-size: 64px;
            font-weight: 700;
        }
        .contact__desc{
            color: #000;
            font-weight: 500;
        }
        .contact__input{
            width: 60%;
            height: 50px;
            padding: 20px;
            border-radius: 10px;
            outline: none;
        }
        .contact__btn{
            width: 90px;
            height: 50px;
            padding: 10px;
            background-color: #3858D6;
            color: #fff;
            border-radius: 8px;
            border: none;
            margin-left: 10px;
            transition: .3s;
            font-size: 18px;
            font-weight: 600;
        }
        .contact__btn:hover{
            background-color: #fff;
            color: #3858D6;
        }
    }
    .contact__image{
        width: calc(50% - 45px);
        .contact__image img{
            width: 100%;
            object-fit: cover;
        }
    }
}